/* BasicDet.css */

/* Add any styling you want for your form and its elements */

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #141313;
    border-radius: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #1a0f57;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1a0f57;
  }
  
  