/* Finalscreen.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .resume {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  p {
    margin: 5px 0;
  }
  
  .summary, .tasks, .work-details, .project-details {
    margin-top: 20px;
  }
  
  h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .work-item, .project-item {
    margin-bottom: 20px;
  }
  #edu {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #edu td, #edu th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #edu tr:nth-child(even){background-color: #f2f2f2;}
  
  #edu tr:hover {background-color: #ddd;}
  
  #edu th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  